@model SNotes.ViewModels.AddLabelToNoteViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>New Label</h2>
 
@using(Html.BeginForm("AddLabelToNote", "Note"))
{ 
    <div class="form-group">
        
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
        
    </div>
    @Html.HiddenFor(m => m.NoteId)
    <button type="submit" class="btn btn-default">Submit</button>
}

