@model SNotes.ViewModels.AddNoteViewModel
@{
    ViewBag.Title = "Create";
}

<h2>New</h2>

@using(Html.BeginForm("Create", "Note"))
{ 
    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        @Html.TextAreaFor(m => m.Content, new {@class = "form-control"})
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
}

