@using Microsoft.AspNet.Identity
@using SNotes.Models


@model IEnumerable<SNotes.ViewModels.NoteGridViewModel>


@{
    ViewBag.Title = "SNotes";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    .noteBox {
        padding: 0; 
        height: 200px;
        width: 200px; 
        margin: 5px; 
        position: relative; 
        background: white;
        box-shadow: 0 2px 2px 0 gray, 0 3px 1px -2px gray, 0 1px 5px 0 gray;
        
    }

    .expand {
        position: fixed;
        left: 50%;
        top: 50%;
        margin-top: -200px;
        margin-left: -300px;
        z-index: 100;
        width: 600px;
        height:400px;
        transition: 0.2s ease-in-out;
        transform: rotate(360deg);
        animation-direction: alternate;
        
    }

</style>
<div class="row">
    <div class="col-md-3">

        @{Html.RenderAction("LabelList", "Label"); }

    </div>

    <div class="col-md-8">

        <div class="notesContainer" style="width: 85%">
            <div class="notesBox" style="margin: auto;">

                <div class="title&noteAdd" style="display: flex;">
                    <div class="title">
                        <h2>SNotes</h2>
                    </div>
                    <div class="noteAdd" style="margin: 25px 0 0 10px;">
                        <a href="@Url.Action("Create", "Note", null, null)">
                            <span class="glyphicon glyphicon-plus-sign" style="color: #555555; font-size: 20px; padding: 0 20px 0 0;"></span>
                        </a>
                    </div>
                </div>

                <div class="searchAndSort" style="width: 100%; margin: 10px 0 10px 0;">

                    <div style="display: flex; width: 50%; margin:auto;">
                        <div>
                            @using (Html.BeginForm("Sort", "Note"))
                            {
                                @Html.Hidden("sortOrder", "ModificationTime")

                                <button type="submit" class="btn btn-link">
                                    <span class="glyphicon glyphicon-sort" style="color: #555555; font-size: 12px;"></span>
                                </button>
                            }
                        </div>
                        <div>
                            @using (Html.BeginForm("Search", "Note"))
                            {
                                <div style="display: flex;">
                                    <div>
                                        <span class="searchBox" style="width: 200px; height: 40px; border-radius: 5px; font-weight: bold; font-size: 20px; padding: 3px; margin: 10px 0 10px 0;">

                                            @Html.TextBox("searchString")

                                        </span>
                                    </div>

                                    <div>
                                        <button type="submit" class="btn btn-link" style="padding: 0 0 0 0;">
                                            <span class="glyphicon glyphicon-search" style="color: #555555; font-size: 12px; margin: 8px 0 0 8px"></span>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
                <div class="notesListContainer">
                    <ul style="list-style-type: none; padding-left: 0;">
                        @Html.DisplayForModel()
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-1">     </div>
</div>

<script>
  
    $(document).ready(function() {

        $(".noteContent, .noteTitle").on("click",
            function() {
                var parent = $(this).closest('.noteBox');

                parent.addClass("expand");
                parent.attr('id', 'temporaryId');
               
            });

      
        $("body").click(function () {
            $(".expand").removeClass("expand");
            $("#temporaryId").removeAttr("id");
        });

        $(".noteBox").click(function (event) {
            event.stopPropagation();
        });

    });
  
    

</script>