@using Microsoft.AspNet.Identity
@using SNotes.Models


@model IEnumerable<SNotes.ViewModels.NoteGridViewModel>

@{
    ViewBag.Title = "SNotes";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3">

        @{Html.RenderAction("LabelList", "Label"); }

    </div>

    <div class="col-md-8">

        <div class="notesContainer" style="width: 86%">
            <div class="notesBox" style="margin: auto;">
                <br />
                <div class="titleAndnoteAdd">
                   
                    <div id="homeWrapper">
                        <a href="@Url.Action("NoteList", "Note", null, null)">
                            <span id="home" class="glyphicon glyphicon-home"></span>
                        </a>
                    </div>
                 
                    <div id="sortWrapper" class="sortButton">
                        @using (Html.BeginForm("Sort", "Note"))
                        {
                            @Html.Hidden("sortOrder", "ModificationTime")

                            <button type="submit" class="btn btn-link">
                                <span id="sort" class="glyphicon glyphicon-sort"></span>
                            </button>
                        }
                    </div>

                    <div id="addNoteWrapper">
                        <a href="@Url.Action("Create", "Note", null, null)">
                            <span id="addNote"class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
                
                <div class="notesListContainer">
                    <div class="notes" style="position: relative;">
                        <ul style="list-style-type: none; padding-left: 0;">
                            @Html.DisplayForModel()
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-1">     </div>
</div>


