@{
    Layout = "~/Views/Shared/_myLayoutPartial.cshtml";
}
<br>
@{
    ViewBag.Title = "About SNotes";
}
<h2>@ViewBag.Title</h2>
<h3>SNotes is a free desktop notetaking application</h3>
<br>
<h4>Please note that this is a beta version of the SNotes website </h4>
<h4>which is still undergoing final testing before its official release.</h4>


