@model SNotes.Models.Label


<li style="float:right; list-style-type: none; padding-right: 0px; text-align: right;">
    <div style="background: #e1e1e1; color: #555555; font-size: 12px; font-weight: bold; border-radius: 5px; padding: 0 3px 0 3px; margin: 0px 0px 2px 2px;">
        <div style="display: inline-block;">@Model.Name</div>
        @*<div style="display: inline;"><a href="@Url.Action("DeleteLabelFromNote", "Note", new {id = Model.Id}, null)">
                X
            </a></div>*@
        @*<div style="display: inline;">
            @using (Html.BeginForm("DeleteLabelFromNote", "Note", FormMethod.Post,
            new { style = "background:#e1e1e1;", @class = "myClass" }))
            {

                <input type="hidden" name="id" value="@Model.Id" id="id" style="display: none;" />

                <input type="submit" value="x"
                       style="background: #e1e1e1; border: none; outline: none; line-height: 1; color: red; text-decoration: none; cursor: pointer; padding: 0; margin: 0;" />
                @*<button type="submit">x</button>*@

            
            
        
        <div style="display: inline-block;">
            @using (Html.BeginForm("DeleteLabelFromNote", "Note", FormMethod.Post,
                new { style = "background:#e1e1e1;", @class = "myClass" }))
            {

                <input type="hidden" name="id" value="@Model.Id" id="id" style="display: none;" />

                <button type="submit" @*class="btn btn-link"*@ style="padding: 0; display: inline; border: none; background:#e1e1e1;">
                    <span class="glyphicon glyphicon-trash" style="font-size: 10px; background:#e1e1e1; color: red;"></span>
                </button>

            }
            
       
        
    </div>

    </div>
</li>
