@model SNotes.ViewModels.EditLabelViewModel

@{
    ViewBag.Title = "Edit";
}

<br/>
<h2><i>Edit Label</i></h2>
 
@using(Html.BeginForm("Edit", "Label"))
{ 
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
        
    </div>
    
    <button type="submit" class="btn btn-success">Save</button>
}


