@model  IEnumerable<SNotes.ViewModels.LabelGridViewModel>


<h2>Labels</h2>



<ul style="list-style: none;">
    <li>
        
        <a href="@Url.Action("Create", "Label", null, null)">
            <span class="glyphicon glyphicon-plus-sign" style="color: #555555; font-size: 20px; padding: 0 20px 0 0;"></span>
        </a>
    </li>
    <span>&nbsp</span>

    @foreach (var label in Model)
    {
        <li>
           
            <div style="display: inline-flex;">
                <span class="glyphicon glyphicon-tag" style="padding: 0 10px 0 0; color: #e20074"></span>
               


                <a href="@Url.Action("Edit", "Label", new {id = label.Id}, null)">
                    <span class="glyphicon glyphicon-pencil" style="color: #555555; font-size: 12px; padding: 0 5px 0 5px;"></span>
                </a>

                @using (Html.BeginForm("Delete", "Label"))
                {
                    <input type="hidden" name="id" value="@label.Id" id="id" style="display: none;" />
              
                    <button type="submit" class="btn btn-link" style="padding: 0 10px 0 5px;">
                        <span class="glyphicon glyphicon-trash" style="color:#555555; font-size: 12px;"></span>
                    </button>
                }

                @Html.ActionLink(label.Name, "SortByLabelGroup", "Note", new { id = label.Id }, null)
            </div>
        </li>
    }
</ul>