@model  IEnumerable<SNotes.ViewModels.LabelGridViewModel>

@{
    Layout = null;
    
}


    <br/>
<h2>Labels</h2>



<ul style="list-style: none; padding-left: 0;">
    <li>
        <div class="createAndEditLabels">
            <div id="addLabelIconInPartialWrapper">
                <a href="@Url.Action("Create", "Label", null, null)">
                    <span id="addLabelIconInPartial" class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div id="editLabelsToggleWrapper"><span id="editLabelsToggle" class="glyphicon glyphicon-pencil"></span></div>
        </div>
    </li>
    &nbsp

    @foreach (var label in Model)
    {
        <li>
           
            <div style="display: inline-flex;">
               
                <span id="labelIconsInPartial" class="glyphicon glyphicon-tag"></span>

                <a href="@Url.Action("Edit", "Label", new {id = label.Id}, null)">
                    <span id="editLabelInPartial" class="glyphicon glyphicon-pencil editLabelInPartial"></span>
                </a>

                @using (Html.BeginForm("Delete", "Label"))
                {
                    <input type="hidden" name="id" value="@label.Id" id="id" style="display: none;"/>

                    <button type="submit" class="btn btn-link" style="padding: 0 10px 0 5px;">
                        <span id="deleteLabelInPartial" class="glyphicon glyphicon-trash deleteLabelInPartial"></span>
                    </button>
                }
               
                @Html.ActionLink(label.Name, "SortByLabelGroup", "Note", new {id = label.Id}, new { @class = "labelNamesInPartial" })

            </div>
        </li>
    }
</ul>

